@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@keyframes pulse {
  0% {
    background-color: #EDE7EF; }
  100% {
    background-color: #c4d4da; } }
.swiper-button-white, nav .hamburger {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.skills .container ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .skills .container ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .skills .container ul li:before {
      position: inherit;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      background: none;
      content: none; }

.group:after {
  content: '';
  display: table;
  clear: both; }

@keyframes pulse {
  0% {
    background-color: #EDE7EF; }
  100% {
    background-color: #c4d4da; } }
.swiper-button-white, nav .hamburger {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.skills .container ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .skills .container ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .skills .container ul li:before {
      position: inherit;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      background: none;
      content: none; }

.group:after {
  content: '';
  display: table;
  clear: both; }

.banner {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: url("../../src/images/aesthetic3.jpg") center center/cover no-repeat;
  display: flex;
  align-items: center; }
  .banner .hero-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; }
  .banner #hero-text {
    margin-left: 20px;
    color: #231f20;
    font-size: 32px;
    opacity: .7;
    text-align: left;
    z-index: 2; }

@keyframes pulse {
  0% {
    background-color: #EDE7EF; }
  100% {
    background-color: #c4d4da; } }
.swiper-button-white, nav .hamburger {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.skills .container ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .skills .container ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .skills .container ul li:before {
      position: inherit;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      background: none;
      content: none; }

.group:after {
  content: '';
  display: table;
  clear: both; }

.biography {
  padding: 200px 150px;
  background-color: #D8CCD4;
  color: #50476F;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 991px) {
    .biography {
      padding: 50px; } }
  .biography .image-wrap {
    width: 25%;
    margin: auto 0;
    text-align: center; }
    @media (max-width: 991px) {
      .biography .image-wrap {
        width: 100%; } }
    .biography .image-wrap img {
      border-radius: 50%; }
      @media (max-width: 991px) {
        .biography .image-wrap img {
          margin: 0 auto;
          margin-bottom: 15px;
          display: block; } }
  .biography .blurb {
    width: 75%; }
    @media (max-width: 991px) {
      .biography .blurb {
        width: 100%; } }
    .biography .blurb h2 {
      margin-bottom: 30px; }
      @media (max-width: 991px) {
        .biography .blurb h2 {
          text-align: center; } }
    .biography .blurb p {
      font-size: 16px; }

@keyframes pulse {
  0% {
    background-color: #EDE7EF; }
  100% {
    background-color: #c4d4da; } }
.swiper-button-white, nav .hamburger {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.skills .container ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .skills .container ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .skills .container ul li:before {
      position: inherit;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      background: none;
      content: none; }

.group:after {
  content: '';
  display: table;
  clear: both; }

form label {
  color: #1d5d71;
  display: block;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase; }
form input {
  -moz-transition: background 255ms;
  -o-transition: background 255ms;
  -webkit-transition: background 255ms;
  transition: background 255ms;
  height: auto;
  margin-bottom: 15px;
  width: 100%;
  padding: 6px 15px;
  color: #d282b3;
  background: #ffffff;
  border: 1px solid #f6f7e3;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  max-width: 100%;
  -webkit-appearance: none !important; }
  form input::-webkit-input-placeholder {
    color: #f6f7e3;
    font-style: italic; }
  form input::-moz-placeholder {
    color: #f6f7e3;
    font-style: italic; }
  form input:-moz-placeholder {
    color: #f6f7e3;
    font-style: italic; }
  form input:-ms-input-placeholder {
    color: #f6f7e3;
    font-style: italic; }
  form input:focus {
    border: 1px solid #f6f7e3;
    outline: none; }
  form input[type="text"], form input[type="email"] {
    width: 50%; }
    @media (max-width: 767px) {
      form input[type="text"], form input[type="email"] {
        width: 100%; } }
  form input[type="checkbox"] {
    position: absolute;
    left: -9999em;
    margin: 0;
    border-radius: 0;
    -webkit-appearance: none; }
    form input[type="checkbox"]:checked + label:before {
      background-color: #ffffff;
      background-size: 16px 12px;
      background-position: center center;
      color: #1d5d71;
      content: "\e013";
      font-family: 'Glyphicons Halflings';
      line-height: 24px;
      text-indent: 5px; }
    form input[type="checkbox"] + label {
      height: 20px;
      margin: 0 0 12px;
      padding: 0 0 0 40px;
      position: relative;
      color: #d282b3;
      display: block;
      font-size: 16px;
      line-height: 26px; }
      form input[type="checkbox"] + label:before {
        -moz-transition: background 225ms;
        -o-transition: background 225ms;
        -webkit-transition: background 225ms;
        transition: background 225ms;
        position: absolute;
        top: 0;
        left: 0;
        height: 28px;
        width: 28px;
        display: block;
        background-color: #ffffff;
        border: 1px solid #f6f7e3;
        border-radius: 5px;
        content: ''; }
form textarea {
  -moz-transition: background 255ms;
  -o-transition: background 255ms;
  -webkit-transition: background 255ms;
  transition: background 255ms;
  height: auto;
  min-height: 163px;
  margin-bottom: 15px;
  width: 100%;
  padding: 6px 15px;
  color: #d282b3;
  background: #ffffff;
  border: 1px solid #f6f7e3;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  max-width: 100%;
  -webkit-appearance: none !important; }
  form textarea::-webkit-input-placeholder {
    color: #f6f7e3;
    font-style: italic; }
  form textarea::-moz-placeholder {
    color: #f6f7e3;
    font-style: italic; }
  form textarea:-moz-placeholder {
    color: #f6f7e3;
    font-style: italic; }
  form textarea:-ms-input-placeholder {
    color: #f6f7e3;
    font-style: italic; }
  form textarea:focus {
    border: 1px solid #f6f7e3;
    outline: none; }
form button {
  margin: 30px 0 0;
  padding: 30px 40px;
  background-color: #1d5d71;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  display: block;
  font-size: 26px;
  text-align: center; }

.contact {
  padding: 40px;
  background: #ffffff; }

@keyframes pulse {
  0% {
    background-color: #EDE7EF; }
  100% {
    background-color: #c4d4da; } }
.swiper-button-white, nav .hamburger {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.skills .container ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .skills .container ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .skills .container ul li:before {
      position: inherit;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      background: none;
      content: none; }

.group:after {
  content: '';
  display: table;
  clear: both; }

.portfolio {
  padding: 60px 20px 70px;
  background-color: #c4d4da; }
  .portfolio h2 {
    margin-bottom: 30px;
    text-align: center; }
  .portfolio .container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .portfolio .container > div {
      height: auto;
      width: calc(100%/3);
      padding: 10px;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      transition: all 300ms ease-in-out; }
      .portfolio .container > div:hover {
        flex-grow: 2; }
      .portfolio .container > div > h1 {
        transform: rotate(-90deg);
        transition: all 300ms ease-in-out; }
        .portfolio .container > div > h1:hover {
          transform: rotate(0deg);
          transform: scale(1.5);
          color: black; }
      .portfolio .container > div img {
        width: 100%;
        max-width: 100%;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
        .portfolio .container > div img:hover {
          opacity: .8; }

@keyframes pulse {
  0% {
    background-color: #EDE7EF; }
  100% {
    background-color: #c4d4da; } }
.swiper-button-white, nav .hamburger {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.skills .container ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .skills .container ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .skills .container ul li:before {
      position: inherit;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      background: none;
      content: none; }

.group:after {
  content: '';
  display: table;
  clear: both; }

.question-and-answer {
  margin-bottom: 50px;
  position: relative; }
  .question-and-answer .question {
    margin-bottom: 40px;
    padding-left: 75px;
    position: relative;
    color: #d282b3;
    display: block;
    font-size: 22px;
    line-height: 28px; }
    .question-and-answer .question::before {
      content: "Q:";
      position: absolute;
      top: 0;
      left: 0;
      color: #1d5d71;
      font-size: 58px; }
  .question-and-answer .answer {
    padding-left: 75px;
    position: relative;
    color: #d282b3;
    display: block;
    font-size: 18px;
    line-height: 26px; }
    .question-and-answer .answer::before {
      content: "A:";
      position: absolute;
      top: 0;
      left: 14px;
      color: #f6f7e3;
      font-size: 48px; }

@keyframes pulse {
  0% {
    background-color: #EDE7EF; }
  100% {
    background-color: #c4d4da; } }
.swiper-button-white, nav .hamburger {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.skills .container ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .skills .container ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .skills .container ul li:before {
      position: inherit;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      background: none;
      content: none; }

.group:after {
  content: '';
  display: table;
  clear: both; }

.skills {
  position: relative;
  padding: 60px 20px;
  color: #231f20;
  font-size: 16px;
  text-align: center; }
  .skills h2 {
    margin-bottom: 30px; }
  .skills .container ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none; }
  .skills img {
    font-size: 6em;
    padding: 20px; }

@keyframes pulse {
  0% {
    background-color: #EDE7EF; }
  100% {
    background-color: #c4d4da; } }
.swiper-button-white, nav .hamburger {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.skills .container ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .skills .container ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .skills .container ul li:before {
      position: inherit;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      background: none;
      content: none; }

.group:after {
  content: '';
  display: table;
  clear: both; }

.swiper-container {
  width: 100%;
  height: 100%;
  background: #000; }

.swiper-slide {
  height: auto !important;
  padding: 40px 60px;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  -webkit-box-sizing: border-box; }

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: auto;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center; }

.swiper-slide .title {
  font-size: 35px;
  font-weight: 300; }
.swiper-slide .subtitle {
  margin-bottom: 5px;
  font-size: 21px; }
.swiper-slide .text {
  max-width: 400px;
  font-size: 16px;
  line-height: 1.3;
  text-shadow: 0 1px 0 rgba(111, 111, 111, 0.4); }

@keyframes pulse {
  0% {
    background-color: #EDE7EF; }
  100% {
    background-color: #c4d4da; } }
.swiper-button-white, nav .hamburger {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.skills .container ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .skills .container ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .skills .container ul li:before {
      position: inherit;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      background: none;
      content: none; }

.group:after {
  content: '';
  display: table;
  clear: both; }

footer {
  padding: 20px;
  align-items: center;
  background-color: #50476F;
  display: flex;
  flex-direction: column; }
  footer a {
    color: #ffffff; }
    footer a:hover {
      color: #D8CCD4; }
  footer ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none; }
  footer .info p {
    color: #ffffff;
    font-size: 12px; }

@keyframes pulse {
  0% {
    background-color: #EDE7EF; }
  100% {
    background-color: #c4d4da; } }
.swiper-button-white, nav .hamburger {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.skills .container ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .skills .container ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .skills .container ul li:before {
      position: inherit;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      background: none;
      content: none; }

.group:after {
  content: '';
  display: table;
  clear: both; }

* {
  box-sizing: border-box;
  scroll-behavior: smooth; }

html[data-theme='dark'] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: #3694FF;
  --color-text: #e6e6e6;
  --color-text-hover: #B5B5B5; }
  html[data-theme='dark'] body, html[data-theme='dark'] section {
    background-color: var(--bg); }
  html[data-theme='dark'] a, html[data-theme='dark'] ul, html[data-theme='dark'] p, html[data-theme='dark'] h1, html[data-theme='dark'] h2, html[data-theme='dark'] h3, html[data-theme='dark'] h4, html[data-theme='dark'] h5, html[data-theme='dark'] h6 {
    color: var(--color-text); }
  html[data-theme='dark'] a:hover {
    color: var(--color-text-hover); }
  html[data-theme='dark'] .banner {
    background: url("../../src/images/night-sky.jpeg") center center/cover no-repeat; }
    html[data-theme='dark'] .banner #hero-text {
      color: var(--color-text); }

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px; }
  .toggle-container input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden; }
  .toggle-container label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative; }
    .toggle-container label:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s; }
  .toggle-container input:checked + label {
    background: var(--color-headings); }
    .toggle-container input:checked + label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%); }
  .toggle-container label:active:after {
    width: 45px; }
  .toggle-container html.transition,
  .toggle-container html.transition *,
  .toggle-container html.transition *:before,
  .toggle-container html.transition *:after {
    transition: all 750ms;
    transition-delay: 0; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #ffffff;
  color: #231f20;
  font-family: "Nunito", sans-serif; }
  body ul, body p, body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0;
    padding: 0; }
  body a {
    text-decoration: none; }

section {
  position: relative;
  padding: 265px 150px; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media (max-width: 1199px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 991px) {
    .container {
      max-width: 750px; } }

@keyframes pulse {
  0% {
    background-color: #EDE7EF; }
  100% {
    background-color: #c4d4da; } }
.swiper-button-white, nav .hamburger {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.skills .container ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .skills .container ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    .skills .container ul li:before {
      position: inherit;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      background: none;
      content: none; }

.group:after {
  content: '';
  display: table;
  clear: both; }

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #50476F;
  display: flex;
  flex-direction: row;
  z-index: 3; }
  nav .logo {
    display: flex;
    margin: 0 20px; }
    @media (max-width: 767px) {
      nav .logo {
        display: none; } }
    nav .logo svg {
      width: 300px; }
      nav .logo svg .cls-1 {
        fill: #ffe6ee;
        transform: translateX(-208px); }
      nav .logo svg .cls-2 {
        fill: none;
        stroke: #ffffff;
        stroke-width: 2px; }
      nav .logo svg .logo-text {
        font-size: 28px;
        fill: #ffffff;
        font-weight: 600;
        opacity: 0;
        transform: translateX(-300px);
        transition: 0.4s transform ease; }
      nav .logo svg .animate-logo-text {
        transform: translateX(0px);
        opacity: 1;
        transition: 0.5s transform ease; }
      nav .logo svg .animate-cls-1 {
        transform: translateX(0px);
        transition: 0.5s transform ease; }
  nav p {
    color: #ffffff;
    font-size: 16px; }
  nav .hamburger {
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
    z-index: 4; }
    @media (max-width: 767px) {
      nav .hamburger .line {
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        background-color: #ffffff; } }
  nav .nav-links {
    width: 50%;
    height: 100%;
    margin-left: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none; }
    @media (max-width: 767px) {
      nav .nav-links {
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: #50476F;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 1;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out; }
        nav .nav-links.open {
          margin-top: 50px;
          clip-path: circle(700px at 75% -10%);
          -webkit-clip-path: circle(700px at 75% -10%); } }
    nav .nav-links li {
      padding: 20px;
      display: inline-block;
      text-align: right;
      font-size: 16px; }
      @media (max-width: 767px) {
        nav .nav-links li {
          opacity: 0;
          transition: all 0.5s ease 0.2s; } }
      nav .nav-links li a {
        color: #ffffff;
        font-weight: 600; }
        nav .nav-links li a:hover {
          color: #D8CCD4; }
      @media (max-width: 767px) {
        nav .nav-links li.fade {
          opacity: 1; } }

/*# sourceMappingURL=styles.css.map */
