// colors 
$abbey: #d282b3;  
$black: #231f20;
$blush: #F3CBCB;
$darkgray: #525257;
$french: #f6f7e3;
$gray: #d2d2d7;
$green: #58db77;
$lola: #D8CCD4;
$midnight: #022E68;
$mint: #c4d4da;
$orange: #f1bb3a;
$pink: #ede0df;
$purple: #530a71;
$sanmarino: #1d5d71;
$white: #ffffff;
$wine: #50476F;
