// colors 
$abbey: #d282b3;  
$white: #ffffff;
$black: #231f20;
$darkgray: #525257;
$french: #f6f7e3;
$gray: #d2d2d7;
$green: #58db77;
$mint: #c4d4da;
$orange: #f1bb3a;
$pink: #ede0df;
$sanmarino: #1d5d71;
