<!doctype html>
<html>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Me</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <!--particles -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
        <!--svg devcon -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <!--typeit -->
    <script src="https://cdn.jsdelivr.net/npm//typeit@5.9.0/dist/typeit.min.js"></script>
    <!-- vue -->
    
    <!-- stylesheet -->
    <link rel="stylesheet" href="../public/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../src/js/global.js"></script>
    
    <!-- swiper js -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  </head>

<body >
    <canvas class="hero-bg"></canvas>
    <nav>
      <button class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </button>
      <ul class="nav-links">
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <section class="banner">
      <p id="element"></p>
    </section>
    <section class="biography">
      <div class="container">
        <div class="row">
           <div class="col-sm-12 col-md-3">
             <img src="../src/images/photo.JPG">
           </div>
          <div class="col-sm-12 col-md-9">
            <h2 id="about">About Me</h2>
            <p>" am Front End Web developer with experience of 5 years. My studies in Informtaion Technology with a focus of web development and multi-media communications brought me to where I am now.  Preserving though life with have an open mind, constantly learning and contributing good positive energy. I am well versed in Drupal, Wordpress and Joomla. An expertise in HTML, CSS and Web Accessibility. Currently focusing and working on my Javascript/Typescript skills."</p>
          </div>
        </div>
      </div>
    </section>
    <section class="skills">
        <div class="container">
          <div class="row">
            <h2 id="skills">Skills</h2>
            <div class="col-sm-12 col-md-3">
              <i class="devicon-html5-plain-wordmark"></i>
            </div>
            <div class="col-sm-12 col-md-3">
              <i class="devicon-css3-plain-wordmark"></i>
            </div>
            <div class="col-sm-12 col-md-3">
              <i class="devicon-sass-original"></i>
            </div>
            <div class="col-sm-12 col-md-3">
              <i class="devicon-jquery-plain-wordmark"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <i class="devicon-git-plain-wordmark"></i>
            </div>
            <div class="col-sm-12 col-md-3">
              <i class="devicon-bitbucket-plain-wordmark"></i>
            </div>
            <div class="col-sm-12 col-md-3">
              <i class="devicon-drupal-plain-wordmark"></i>
            </div>
            <div class="col-sm-12 col-md-3">
              <i class="devicon-wordpress-plain-wordmark"></i>
            </div>
          </div>
        </div>
    </section>
   <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide parallax-bg" style="background-image:url(../src/images/Brooklyn-Bridge-Sunset.jpg)" data-swiper-parallax="-23%">
        <div class="title" data-swiper-parallax="-300">Some of my favorite places on Earth</div>
        <div class="subtitle" data-swiper-parallax="-200">New York, New York</div>
        <div class="text" data-swiper-parallax="-100">
          <p>Born and raised in New York. Although I currently live in Maryland, I often visit back home. When I do, I recharge from the energy the city atmosphere gives. 
            I love to visit family and friends and explore the city. I enjoy the small shops, authentic restuarants, city walks and even biking from one borough to another. Fashion comes to life in the city. My favorite places to explore are Chelsea, LES, Soho, Hells Kitchen and Brooklyn. The influence of the diverse sociey brings a collective culture that isn't experienced else where, forever grateful.</p>
        </div>
      </div>
      <div class="swiper-slide parallax-bg" style="background-image:url(../src/images/japan.jpg)" data-swiper-parallax="-23%">
        <div class="title" data-swiper-parallax="-300" data-swiper-parallax-opacity="0">Tokyo</div>
        <div class="subtitle" data-swiper-parallax="-200">Japan</div>
        <div class="text" data-swiper-parallax="-100">
          <p>Crisp clean atmosphere, serenity. The people are welcoming and friendly. I'm a foodie type of person, the portions were not enough for me haha but the food was inexpensive and tasty. Every single matcha latte was so delicious(big fan of matcha). 
            The image in this slide was taken while at the teamLab Borderless, a popular, immersive museum known for its colorful, futuristic digital art installations & photo ops.
          There was a momemnt of stillness and enlightment felt through the visit which brought happy tears.</p>
        </div>
      </div>
      <div class="swiper-slide parallax-bg" style="background-image:url(../src/images/london1.jpg)" data-swiper-parallax="-23%">
        <div class="title" data-swiper-parallax="-300">London</div>
        <div class="subtitle" data-swiper-parallax="-200">United Kingdom</div>
        <div class="text" data-swiper-parallax="-100">
          <p>Probaly not as recognizable but this is the city of London. This view was captured while on the rooftop of an Ikea(Greenwich). 
            While in London, I explored the city, visited museums, cafes, worked remotely, and enjoyed the public transportation and much more. There was so many plant based food options and beyond flavorful and delicios.
            I even made friends! London is like a second home to me. When I vistied London for the first time, it was actually my first solo trip. 
            I learned so much of myself, enjoyed my own company and was freely vulnerable.</p>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
  </div>


    <section class="portfolio">
      <h2 id="portfolio">Portfolio</h2>
      <div class="container">
        <div class="one"><h1>CSS</h1></div>
        <div class='two'><h1>FLEXBOX</h1></div>
        <div class="three"><h1>IS COOL</h1></div>
      </div>
    </section>
    <section class="contact">
      <div class="container">
        <h2 id="contact">Contact Me</h2>
        <form action="/action_page.php">
          <label for="fname">First name</label>
          <input type="text" id="fname" name="fname">
          <label for="lname">Last name</label>
          <input type="text" id="lname" name="lname">
          <label for="email">Email</label>
          <input type="email" id="email" name="email">
          <label for="affliation">Media Affliation</label>
          <input type="text" id="affliation" name="affliation">
          <label for="message">Take the pledge</label>
          <textarea></textarea>
          <input type="checkbox" id="choice1" name="choice1" value="">
          <label for="choice1">Please keep me informed about Shatterproof’s important work.</label>
          <button>Take the pledge</button>
        </form> 
          
      </div>
    </section>
    <div class="container">
      <div class="question-and-answer">
        <span class="question">Why can’t someone just stop using drugs, even when they recognize it is harmful?</span>
        <span class="answer">It is important to reframe how we view addiction. Once someone begins to regularly use drugs, their brain craves the substance more and more—even though they know it is bad for them. Researchers have compared diseases like diabetes to addiction showing that diabetes can strain the pancreas while addiction damages the brain.</span>
      </div>
    </div> 
</body>
</html>